<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Viaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
         
    <ion-item  *ngFor="let auto of items" (click)="openNavDetailsPage(auto)" >
        <ion-grid >
          <ion-row>
              <ion-col size="3">
                  <ion-avatar item-start>
                      <img [src]="auto.imagen_auto">
                    </ion-avatar>
              </ion-col>
              <ion-col size="9">
                  <h3 >{{auto.modelo}}</h3>
              </ion-col>
             <ion-grid>
                <ion-row> 
              
                    <ion-col size="12" >
                        <p style="text-align:center"> <ion-icon slot="start" color="medium" name="people"></ion-icon> Numero de asientos: <span>{{auto.numeroAsientos}} </span></p>
                    </ion-col>
                  
                  </ion-row>

             </ion-grid>                
            </ion-row>                          
    </ion-grid>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="ObtenerListaAutos()" color="secondary">Actualizar</ion-button>
</ion-content>
