<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Travel Express
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card class="welcome-card">
      <ion-img src="assets/imagenes/menu/menu.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenido</ion-card-subtitle>
        <ion-card-title>TravelExpress</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Travel Express es un aplicación mediante la cual podras reservar tu auto de una manera fácil y sencilla desde tu dispositivo movil.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Menu</ion-label>
      </ion-list-header>
      <ion-item (click)="pasarRenta()">
        <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
        <ion-label>Renta</ion-label>
      </ion-item>
      <ion-item (click)="pasarViaje()">
        <ion-icon slot="start" color="medium" name="people"></ion-icon>
        <ion-label>Viaje</ion-label>
      </ion-item>
      <ion-item (click)="pasarEvento()">
        <ion-icon slot="start" color="medium" name="star-outline"></ion-icon>
        <ion-label>Evento</ion-label>
      </ion-item>
      <ion-item (click)="pasarHistorial()">
        <ion-icon slot="start" color="medium" name="folder-open"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-item>
      <ion-item (click)="salir()">
        <ion-icon slot="start" color="medium" name="backspace"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
</ion-content>

