<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="texto">
      Pago Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="none">
    <ion-list-header>
        <ion-label>Datos Personales</ion-label>
      </ion-list-header>
        <ion-item>
            <ion-icon slot="start" color="medium" name="card"></ion-icon>
          <ion-label>Forma de Pago</ion-label>
          <ion-select value="Visa" okText="Ok" cancelText="Cancelar" [(ngModel)]="fpago">
            <ion-select-option value="Tarjeta Visa" >Visa</ion-select-option>
            <ion-select-option value="Mastercard" >Mastercard</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="medium" name="card"></ion-icon>
            <ion-label>Titular:</ion-label>
            <ion-input type="text" [(ngModel)]="titular" name="titular" placeholder="Titular"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="medium" name="card"></ion-icon>
            <ion-label>Numero Tarjeta:</ion-label>
            <ion-input type="text" [(ngModel)]="numero" name="numero" placeholder="Numero de Tarjeta"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="medium" name="browsers"></ion-icon>
            <ion-label>Fecha de Caducidad:</ion-label>
            <ion-datetime min="2016" max="2025-10-31" displayFormat="MM" [(ngModel)]="dia" placeholder="Ingrese la fecha">
            </ion-datetime>
            <ion-datetime min="2016" max="2025-10-31" displayFormat="YYYY" [(ngModel)]="ano" placeholder="Ingrese la fecha">
              </ion-datetime>
          </ion-item>
        <ion-item>
            <ion-icon slot="start" color="medium" name="card"></ion-icon>
            <ion-label>Codigo:</ion-label>
            <ion-input type="text" [(ngModel)]="codigo" name="codigo" placeholder="Codigo tarjeta"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="Registro()">Guardar Evento</ion-button>
</ion-list>
</ion-content>
