<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form >
    
        <div class="centro">
          <h1>Registro de Clientes</h1>
            </div>
           
         <ion-item>
             <ion-icon name="md-people"></ion-icon>
             <ion-input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Ingrese su usuario" required></ion-input>
         </ion-item>
         <ion-item>
            
             <ion-icon name="lock"></ion-icon>
             <ion-input type="password" [(ngModel)]="clave" name="clave" placeholder="Ingrese su clave" required></ion-input>
         </ion-item>
         <ion-item>
            <ion-icon name="card"></ion-icon>
            <ion-input type="text" [(ngModel)]="cedula" name="cedula" placeholder="Ingrese su cedula" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="person-add"></ion-icon>
            <ion-input type="text" [(ngModel)]="nombres" name="nombres" placeholder="Ingrese sus nombres" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="contacts"></ion-icon>
            <ion-input type="text" [(ngModel)]="apellidos" name="apellidos" placeholder="Ingrese su apellidos" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="grid"></ion-icon>
            <ion-input type="text" [(ngModel)]="direccion" name="direccion" placeholder="Ingrese su direccion" required></ion-input>
        </ion-item>
        <ion-item>
                <ion-icon name="at"></ion-icon>
                <ion-input type="text" [(ngModel)]="email" name="email" placeholder="Ingrese su email" required></ion-input>
            </ion-item>
         <br>
      
     
         <ion-button expand="full" (click)="Registro()" color="secondary">Guardar</ion-button>
    <br>
    
    
     </form>
</ion-content>
