<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="texto">
      Informacion del Viaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="welcome-card">
    <ion-img src="assets/imagenes/menu/menu.png"></ion-img>
  </ion-card>
  <ion-list lines="none" *ngFor="let renta of rentas" >
    <ion-item >
      <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
      <ion-label>Modelo</ion-label>
      <ion-label>{{renta.modelo}}</ion-label>
    </ion-item>
    <ion-item >
        <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
        <ion-label>Asientos disponibles</ion-label>
        <ion-label>{{renta.numero_asientos}}</ion-label>
      </ion-item>
      
      <ion-item >
        <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
        <ion-label>Numero de asiento a rentar</ion-label>
        <ion-input type="number" min="1" max="{{renta.numero_asientos}}"  [(ngModel)]="numasientos" name="id" placeholder ="Asiento a reservar" required></ion-input>
    
      </ion-item>
      
      <ion-item >
        <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
        <ion-label>Precio</ion-label>
        <ion-label>{{renta.precio}}</ion-label>
      </ion-item>
    
        <ion-item>
            
          <ion-label>Lugar</ion-label>
          <ion-select value="Cuenca" okText="Ok" cancelText="Cancelar" [(ngModel)]="lugar">
            <ion-select-option value="Ciudad Cuenca" >Cuenca</ion-select-option>
            <ion-select-option value="Ciudad Gualaceo" >Gualaceo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
        <ion-icon slot="start" color="medium" name="browsers"></ion-icon>
        <ion-label>Fecha:</ion-label>
        <ion-datetime min="2016" max="2025-10-31" displayFormat="MM/DD/YYYY " [(ngModel)]="fecha" placeholder="Ingrese la fecha">
        </ion-datetime>
      </ion-item>
      <ion-item>
          <ion-icon slot="start" color="medium" name="alarm"></ion-icon>
          <ion-label>Hora:</ion-label>
          <ion-datetime min="2016" max="2025-10-31" displayFormat="HH:mm" [(ngModel)]="hora" placeholder="Ingrese la hora">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="card"></ion-icon>
        <ion-label>Forma de Pago</ion-label>
        <ion-select value="Tarjeta" okText="Ok" cancelText="Cancelar" [(ngModel)]="pago">
          <ion-select-option value="Tarjeta de Credito" >Tarjeta</ion-select-option>
        </ion-select>
      </ion-item>
     
        
          <ion-button expand="full" (click)="obtenerFecha(renta)">Guardar</ion-button>
          <ion-button  (click)="share()" expand="full" >Compartir</ion-button>
  </ion-list>
  <!--
  <ion-list>
    
    
    <ion-item>
        <ion-input [(ngModel)]="file" placeholder="Ingrese el file"></ion-input>
      </ion-item>
      
    <ion-item>
        <ion-input [(ngModel)]="link" placeholder="Ingrese el link"></ion-input>
      </ion-item>
      
    <ion-item>
        <ion-input [(ngModel)]="subject" placeholder="Ingrese el subject"></ion-input>
      </ion-item>
    </ion-list>-->
  




</ion-content>
