<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="texto">
      Informacion de la Renta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
    <ion-card class="welcome-card">
      <ion-img src="assets/imagenes/menu/menu.png"></ion-img>
    </ion-card>
    <ion-list lines="none" *ngFor="let renta of rentas" >
      <ion-item >
        <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
        <ion-label>Modelo</ion-label>
        <ion-label>{{renta.modelo}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
        <ion-label>Asientos disponibles</ion-label>
        <ion-label>{{renta.numero_asientos}}</ion-label>
      </ion-item>
      
      <ion-item >
          <ion-icon slot="start" color="medium" name="logo-model-s"></ion-icon>
          <ion-label>Precio</ion-label>
          <ion-label>{{renta.precio}}</ion-label>
        </ion-item>
        
      <ion-item  >
          <ion-icon slot="start" color="medium" name="grid"></ion-icon>
          <ion-label>Fecha Actual:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" disabled></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-icon slot="start" color="medium" name="browsers"></ion-icon>
          <ion-label>Fecha de Renta:</ion-label>
          <ion-datetime min="2016" max="2025-10-31" displayFormat="DD/MMMM/YYYY" [(ngModel)]="fecha" placeholder="Ingrese la fecha">
          </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="medium" name="alarm"></ion-icon>
            <ion-label>Hora de Renta:</ion-label>
            <ion-datetime min="2016" max="2025-10-31" displayFormat="HH:mm" [(ngModel)]="hora" placeholder="Ingrese la hora">
            </ion-datetime>
          </ion-item>
          <ion-item>
              <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
              <ion-label>Numero de dias:</ion-label>
              <ion-input type="number" [(ngModel)]="dias" name="dias" placeholder="Ingrese numero de dias"></ion-input>
            </ion-item>
    
            <ion-item>
                <ion-icon slot="start" color="medium" name="card"></ion-icon>
              <ion-label>Forma de Pago</ion-label>
              <ion-select value="Tarjeta" okText="Ok" cancelText="Cancelar" [(ngModel)]="pago">
                <ion-select-option value="Tarjeta de Credito" >Tarjeta</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="full" (click)="obtenerFecha()">Guardar</ion-button>
    </ion-list>
</ion-content>
