<ion-header >
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form >
    
    <div class="centrado">
      <h1>Ingreso de Clientes</h1>
        <img src="assets/imagenes/login/login.png" style="align-content: center" width="100" height="100">
        </div>
       
     <ion-item>
         <ion-icon name="md-people"></ion-icon>
         <ion-input type="text" [(ngModel)]="nombre" name="id" placeholder ="Ingrese su Usuario" required></ion-input>
     </ion-item>
     <ion-item>
        
         <ion-icon name="lock"></ion-icon>
         <ion-input type="password" [(ngModel)]="clave" name="clave" placeholder="Ingrese su clave" required></ion-input>
     </ion-item>
     <br>
  
 
     <ion-button expand="full" (click)="ObtenerLogin()" color="secondary">Iniciar Sesion</ion-button>
<br>
<div class="centrado " >
  
   Si no tienes una cuenta <a (click)="pasarRegistro()">Registrate</a>
   </div>
 


 </form>
</ion-content>
